*{box-sizing: border-box;
font-size: 18px;}

.main-section {
  background-color: rgba(63, 82, 109, 0.3);
  width: 300px;
  height: auto;
  justify-self: center;
  margin-top: 50px;
  display: block;
}

.searchbar-container {
  height: 30%;
  width: 300px;
  display: block;
  justify-self: center;
}
.categories-container {
  height: auto;
  width: 100%;
  padding:20px
}

#text {
  margin-top: 50px;
  justify-self: center;
  width: 50%;
  height: auto;
  margin-left: 25%;
}
#check-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#checkbox {
  margin: 0;
}

.category{

  justify-self: center;
  margin : 15px;
  width: 90%;
  height: auto;
  padding :10px;
  flex-wrap: wrap;
}

.category-title{
  
  justify-self: center;
  text-align: center;
  width:90%;
  height: 30px;
}

.products{

  justify-self: center;
  width:90%;
  height: auto;
  flex-wrap: wrap;
}
.product-container{

  height: auto;
  display: flex;
  justify-content: space-between;
  font-size: 14px;

}